
$color-black: #162542;
$color-orange: #f16718;
$color-orange-light: #ff9b62;
$color-gray: #7b8bad;
$color-gray-light: #e8eff2;
$color-white: #ffffff;

$font-medium: 16px;

$padding-mobile: 32px;
$padding-tablet: 48px;